.container,
.scores {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scores {
  font-size: 24px;
  font-weight: 500;
}

#resultText {
  border: 1px solid red;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

button {
  font-size: 48px;
}

#reset {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  padding: 16px;
}

#reset > button {
  font-size: 24px;
}
